html {
padding:50px;
background:#ddd;
}
body {
padding:10px;
background:#fff;
}
h1 {
text-align:center;
color:#2e8fb9;
}
.desktop{
display:block;
overflow:Hidden;
margin:20px 0;
padding:10px;
}

/*Progress bar container*/
#progressbar-container {
display:block;
overflow:hidden;
}